<div id="<%= dom_id action %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= action.action_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gas:</strong>
    <%= action.gas %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deposit:</strong>
    <%= action.deposit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Method name:</strong>
    <%= action.method_name %>
  </p>

</div>
