<div id="<%= dom_id transaction %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Gas burnt:</strong>
    <%= transaction.gas_burnt %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= transaction.time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transaction hash:</strong>
    <%= transaction.transaction_hash %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Block hash:</strong>
    <%= transaction.block_hash %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sender:</strong>
    <%= transaction.sender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Receiver:</strong>
    <%= transaction.receiver %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Height:</strong>
    <%= transaction.height %>
  </p>

</div>
